[Unit]
Description=Backup data files.

[Service]
Type=simple
ExecStartPre=/bin/bash -c '! /usr/bin/systemctl is-active --user --quiet sync_backup.service'
ExecStart=%h/scripts/backup_data.sh

