[Unit]
Description=Backup zotero data files.
After=default.target

[Service]
Type=simple
Environment="http_proxy=socks5://127.0.0.1:7891"
Environment="https_proxy=socks5://127.0.0.1:7891"
ExecStart=%h/scripts/backup_zotero.sh

