[Unit]
Description=Backup zotero data files periodically.

[Timer]
OnStartupSec=300
OnUnitActiveSec=21600
RandomizedDelaySec=30
Unit=backup_zotero.service

[Install]
WantedBy=timers.target
