[Unit]
Description=Run ~/scripts/backup_borg.sh without sync
After=multi-user.target

[Service]
Type=simple
ExecStart=%h/scripts/backup_borg.sh --backup --prune --no-sync
