[Unit]
Description=A rule based proxy in Go.
After=network.target

[Service]
Type=simple
Restart=on-abort
ExecStart=/usr/bin/clash -f %E/clash/%i.yaml > %E/clash/%i.log 2>&1

[Install]
WantedBy=default.target
