[Unit]
Description=Sync backup with cloud storage

[Timer]
OnStartupSec=600
OnUnitActiveSec=21600
RandomizedDelaySec=30
Unit=sync_backup.service

[Install]
WantedBy=timers.target
