# hidden folders
.conda/
.cache/
.gnupg/
.googleearth/
.icons/
.keras/
.theano/
.local/
.ipython/
.jupyter/
.mono/
.mozilla/
.npm/
.nv/
.pki/
.paradoxlauncher/
.ssh/
.vim/
.vispy/
.vscode/
.vscode-oss/
.zotero/
.wine/
.steam*
.x-plane/
.zoom/

# .config folder
.config/borg/
.config/chromium/
.config/cef_user_data/
.config/clash
.config/conda/environments.txt
.config/configstore/
.config/dconf/
.config/dotfiles/
.config/enchant/
.config/fcitx5/
.config/flameshot/flameshot.ini
.config/gedit/
.config/GIMP/
.config/Google/
.config/gtk-2.0/
.config/gtk-3.0/
.config/ibus/bus/
.config/inkscape/
.config/libreoffice/
.config/kingsoft.conf
.config/Kingsoft/
.config/mpv/watch_later/
.config/menus/
.config/pulse/
.config/qpdfview/qpdfview.conf
.config/QtProject/
.config/rclone/
.config/Thunar/
.config/Trolltech.conf
.config/transmission/
.config/xfce4/xfconf/
.config/xfce4/terminal/accels.scm
.config/mimeapps.list
.config/QtProject.conf
.config/systemd/user/timers.target.wants/
.config/systemd/user/default.target.wants/
.config/systemd/user/graphical.target.wants/
.config/systemd/user/update_clash.*
.config/modprobed.db
.config/modprobed-db.conf
.config/unity3d/
.config/zoomus.conf
.config/Unknown Organization/zoom.conf
.config/TabNine/

# .config/Code folder
.config/Code/*
!.config/Code/User/
.config/Code/User/workspaceStorage/
.config/Code/User/globalStorage/

.config/VSCodium/*
!.config/VSCodium/User/
.config/VSCodium/User/workspaceStorage/
.config/VSCodium/User/globalStorage/

# common folders
backups/
Desktop/
Documents/
Downloads/
Music/
Pictures/
projects/
Videos/
VMs/
Zotero/

# special scripts
scripts/envs
scripts/update_clash.py

# special dotfiles
.bash_history
.zsh_history
.zcompdump
.esd_auth
.Xauthority
.gtkrc-2.0
.pulse-cookie
