# hidden folders
.conda/
.cache/
.dotnet/
.mozilla/
.pki/
.ssh/
.vscode/
.steam/
.zoom/
.zotero/

# .config folder
.config/blender/
.config/borg/
.config/chromium/
.config/cef_user_data/
.config/clash
.config/conda/environments.txt
.config/dconf/
.config/dotfiles/
.config/draw.io/
.config/Debauchee/Barrier.conf
.config/enchant/
.config/evince/
.config/fcitx/dbus/
.config/fcitx5/crash.log
.config/fcitx5/conf/cached_layouts
.config/gammastep/config.ini
.config/GIMP/
.config/godot/
.config/gtk-2.0/
.config/gtk-3.0/
.config/ibus/
.config/inkscape/
.config/Joplin/
.config/joplin-desktop/
.config/kingsoft.conf
.config/Kingsoft/
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/modprobed.db
.config/modprobed-db.conf
.config/mpv/watch_later/
.config/nvim/
.config/parallel/tmp/
.config/pavucontrol.ini
.config/psd/.psd.conf
.config/pulse/
.config/qBittorrent/
.config/qpdfview/qpdfview.conf
.config/QtProject/
.config/QtProject.conf
.config/rclone/
.config/RSS Guard 4/
.config/systemd/user/timers.target.wants/
.config/systemd/user/default.target.wants/
.config/systemd/user/graphical.target.wants/
.config/Thunar/
.config/Trolltech/
.config/Trolltech.conf
.config/unity3d/
.config/Unknown Organization/cajviewer*.conf
.config/Unknown Organization/zoom.conf
.config/xfce4/xfconf/
.config/xfce4/terminal/accels.scm
.config/zoom.conf
.config/zoomus.conf

# .config/Code folder
.config/Code/*
!.config/Code/User/
.config/Code/User/workspaceStorage/
.config/Code/User/globalStorage/
.config/Code/User/History/

# .local/share folder
.local/*
!.local/share/
.local/share/*
!.local/share/cargo/
.local/share/cargo/*
!.local/share/cargo/config.toml

# common folders
Desktop/
Documents/
Downloads/
Music/
Pictures/
projects/
Videos/
VMs/
Zotero/

# special scripts
scripts/envs

# special dotfiles
.bash_history
.steampath
.steampid

