# hidden folders
.conda/
.cache/
.gnupg/
.googleearth/
.icons/
.keras/
.theano/
.local/
.mozilla/
.npm/
.nv/
.pki/
.ssh/
.vim/
.vispy/
.vscode/
.vscode-oss/
.zotero/
.wine/
.steam*

# .config folder
.config/borg/
.config/chromium/
.config/cef_user_data/
.config/configstore/
.config/dconf/
.config/dotfiles/
.config/enchant/
.config/fcitx5/conf/
.config/gedit/
.config/GIMP/
.config/Google/
.config/gtk-2.0/
.config/gtk-3.0/
.config/ibus/bus/
.config/libreoffice/
.config/kingsoft.conf
.config/Kingsoft/
.config/mpv/watch_later/
.config/menus/
.config/pulse/
.config/qpdfview/qpdfview.conf
.config/QtProject/
.config/rclone/
.config/Thunar/
.config/Trolltech.conf
.config/transmission/
.config/xfce4/
.config/mimeapps.list
.config/QtProject.conf
.config/systemd/user/timers.target.wants/

# .config/Code folder
.config/Code/*
!.config/Code/User/
.config/Code/User/workspaceStorage/
.config/Code/User/globalStorage/

.config/VSCodium/*
!.config/VSCodium/User/
.config/VSCodium/User/workspaceStorage/
.config/VSCodium/User/globalStorage/

# common folders
backups/
Desktop/
Documents/
Downloads/
Music/
Pictures/
projects/
Videos/
Zotero/

# special scripts
scripts/ali.sh
scripts/do.sh
scripts/envs

# special dotfiles
.bash_history
.esd_auth
.Xauthority
.gtkrc-2.0

