"*":
  "atom-beautify":
    c:
      default_beautifier: "clang-format"
    cpp:
      default_beautifier: "clang-format"
    python:
      max_line_length: 200
  "autocomplete-python":
    useKite: false
  core:
    openEmptyEditorOnStart: false
    projectHome: "/home/enigma/projects"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 16
    scrollSensitivity: 200
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "7c1b65c4-65e4-4f0d-8d77-430dfe483d4f"
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  latex:
    enableSynctex: false
    engine: "xelatex"
    outputDirectory: "build"
    producer: "xdvipdfmx"
  latexer: {}
  "linter-ui-default":
    panelHeight: 300
  "one-light-ui": {}
  welcome:
    showOnStartup: false
".beamer.latex.tex.text":
  editor:
    tabLength: 4
".bibtex.text":
  editor:
    tabLength: 4
".knitr.latex.tex.text":
  editor:
    tabLength: 4
".latex.memoir.tex.text":
  editor:
    tabLength: 4
".latex.tex.text":
  editor:
    tabLength: 4
".latex.tex.text.tikz":
  editor:
    tabLength: 4
".tex.text":
  editor:
    tabLength: 4
