/*

!fontconfig/
!i3/
!i3blocks/
!i3lock-blur/
!rofi/
!mpv/
!chromium-flags.conf
!.gitignore
!matplotlib/
!pikaur.conf
!Code/
Code/*
!Code/User
Code/User/*
!Code/User/settings.json
!Code/User/snippets
