/*

!fontconfig/
!i3/
!i3blocks/
!i3lock-blur/
!rofi/
!mpv/
!dunst/
!chromium-flags.conf
!.gitignore
!matplotlib/
!aurman/
!Code - OSS/
Code - OSS/*
!Code - OSS/User
Code - OSS/User/*
!Code - OSS/User/settings.json
!Code - OSS/User/keybindings.json
!Code - OSS/User/snippets
