/*

!fontconfig/
!i3/
!i3blocks/
!i3lock-blur/
!rofi/
!mpv/
!dunst/
!Dharkael/
!chromium-flags.conf
!.gitignore
!matplotlib/
!aurman/
!Code/
Code/*
!Code/User
Code/User/*
!Code/User/settings.json
!Code/User/keybindings.json
!Code/User/snippets
